@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


/**
    The lines above are intact.
    The lines below were added by maryUI installer.
*/

/** daisyUI */
:root {
    --muted-foreground: #94a3b8;
    /* Equivalent to slate-400 */
}

@plugin "daisyui" {
    themes: dark --default, light --prefersdark;
}

@plugin "daisyui/theme" {
    name: "dark";
    default: true;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(25.33% 0.016 252.42);
    --color-base-200: oklch(23.26% 0.014 253.1);
    --color-base-300: oklch(21.15% 0.012 254.09);
    --color-base-content: oklch(97.807% 0.029 256.847);
    --color-primary: oklch(45% 0.24 277.023);
    --color-primary-content: oklch(96% 0.018 272.314);
    --color-secondary: oklch(45% 0.24 277.023);
    --color-secondary-content: oklch(96% 0.018 272.314);
    --color-accent: oklch(45% 0.24 277.023);
    --color-accent-content: oklch(96% 0.018 272.314);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(45% 0.24 277.023);
    --color-info-content: oklch(92% 0.013 255.508);
    --color-success: oklch(62% 0.194 149.214);
    --color-success-content: oklch(92% 0.013 255.508);
    --color-warning: oklch(79% 0.184 86.047);
    --color-warning-content: oklch(92% 0.013 255.508);
    --color-error: oklch(51% 0.222 16.935);
    --color-error-content: oklch(92% 0.013 255.508);
    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
    --muted-forground: oklch(70% 0.01 250);
}

/* maryUI */
@source "../../vendor/robsontenorio/mary/src/View/Components/**/*.php";

/* Theme toggle */
@custom-variant dark (&:where(.dark, .dark *));

/**
* Paginator - Traditional style
* Because Laravel defaults does not match well the design of daisyUI.
*/
/* 
.mary-table-pagination span[aria-current="page"]>span {
    @apply bg-primary text-base-100
}

.mary-table-pagination button {
    @apply cursor-pointer
} */

@plugin "@tailwindcss/typography";